@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'reset';
@import 'content';
@layer base {
    body {
        line-height: 1.5;
        // -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: 'Open Sans', sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        color: #232323 !important;
    }
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.slide-left option {
    animation: slideLeft 0.5s forwards;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.number-animation {
    animation: slideDown 1s ease-out;
}
